*{
    font-family: 'Sarabun', sans-serif;
}

/* Mouse Cursor  */
.pointer {cursor: pointer;}

img{white-space:pre}

/* .k2 {
    margin-top: 20px;
    width: 60%; 
    word-wrap: break-word;
    text-align: center;
} */