 .popup {
     background-color: #ffffff;
     width: 900px;
     padding: 30px 40px;
     position: absolute;
     transform: translate(-50%, -50%);
     left: 50%;
     top: 50%;
     border-radius: 8px;
     font-family: "Poppins", sans-serif;
     display: none;
     text-align: center;
     box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
 }



 .popup button {
     display: block;
     position: absolute;
     top: 0;
     right: 0;
     margin: 10px 10px auto;
     background-color: transparent;
     font-size: 30px;
     color: #ffffff;
     background: #03549a;
     border-radius: 100%;
     width: 40px;
     height: 40px;
     border: none;
     outline: none;
     cursor: pointer;
 }

 .popup p {
     font-size: 14px;
     text-align: justify;
     margin: 20px 0;
     line-height: 25px;
 }

 .shopee {
     display: block;
     width: 150px;
     position: relative;
     margin: 10px auto;
     font-size: 17px;
     text-align: center;
     background-color: orangered;
     border-radius: 10px;
     color: #ffffff;
     text-decoration: none;
     padding: 10px 0;
 }

 .lazada {
     display: block;
     width: 150px;
     position: relative;
     margin: 10px auto;
     font-size: 17px;
     text-align: center;
     background-color: purple;
     border-radius: 10px;
     color: #ffffff;
     text-decoration: none;
     padding: 10px 0;
 }

 .sticky {
     position: fixed;
 }

 /* Responesive Phone version */

 @media screen and (min-width: 200px) and (max-width: 451px){
     .popup {
         background-color: white;
         width: 280px;
         padding: 40px 40px;
         position: absolute;
         transform: translate(-50%, -50%);
         left: 50%;
         top: 50%;
         border-radius: 8px;
         font-family: "Poppins", sans-serif;
         display: none;
         text-align: center;
         box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
     }

     .sticky {
        position: fixed;
    }
 }

 /* Responesive Tablt version */
@media screen and (min-width: 452px) and (max-width: 800px){
    .popup {
        background-color: white;
        width: 500px;
        padding: 30px 40px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius: 8px;
        font-family: "Poppins", sans-serif;
        display: none;
        text-align: center;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
    }

    .sticky {
       position: fixed;
   }
} 