.text_over {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text_over_heading {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}





@media screen and (min-width: 200px) and (max-width: 500px) {
    .text_over_heading {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 15rem;
    }

    .text_over_detail {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}